[submodule "Netty-Telnet"]
	path = Netty-Telnet
	url = https://github.com/cse0518/Netty-Telnet.git
	branch = main
[submodule "Spring-Eureka"]
	path = Spring-Eureka
	url = https://github.com/cse0518/Spring-Eureka.git
	branch = main
